[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
praw = "*"
pandas = "*"
black = "*"
pytz = "*"
zstandard = "*"
bs4 = "*"
pylint = "*"
cfbd = "*"
python-dotenv = "*"
beautifulsoup4 = "*"

[dev-packages]

[requires]
python_version = "3.10"
